#cabecera {

border-radius: 10px 10px 0px 0px ;
font-family: 'Dancing Script';
background-color: #5b7989;
height: 60px;
}

.titulo_imagen {
font-family: 'Dancing Script';
text-align: center;
font-weight: bold;
text-decoration: underline;

}



#cabecera a {
  color: white;}

#cuerpo {
	background-color: #02010a;
}
#titulo{
  float:left;
  padding: 15px 0 0 20px;
  text-shadow:2px 2px 2px #02010a;
  text-decoration: none;
	font-size: 26px;
}

.ul1>li:nth-child(1){
  text-decoration: underline;
}

.ul1>li:nth-child(2){
  text-decoration: underline;
}

#imagen_p  {
  padding: 15px 30px 15px 30px;
	 background-color: #d5c75f;
	}


.c1 img{
	-webkit-filter:blur(10px);
}

.c2 img{
	-webkit-filter:grayscale(100%);
}

.c4 img{
	-webkit-filter:grayscale(100%);
}

.c6 img{
	-webkit-filter:grayscale(100%);
}

.c3 img{
	-webkit-filter:sepia(90%);
}

.contenido {
	margin: 0;
  padding: 0;
  max-width: 900px;
	display: flex;
		display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	margin-left: auto;
	margin-right: auto;
}

.contenido div {

  box-sizing: border-box;
}

.contenido img{
max-width:100%;
height: auto;
display: block;
margin: 0 auto;
}

/*@media all and (min-width: 900px) {*/
.c0 {

	width: 100%;
}
	.c1 {

		width: 33.3%;
	}
	.c2 {
		width: 33.4%;
	}
	.c3 {
		width: 33.3%;
	}
  .c4 {

    width: 33.3%;
  }
  .c5 {
    width: 33.4%;
  }
  .c6 {
    width: 33.3%;
  }

  .p1 {
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
font-family: 'Dancing Script';
font-size: 12px;
border-radius: 0px 0px 0px 10px ;
background-color: #C6d5c5;
width: 25%;}

  .p_titulo  {
    	font-size: 26px;
      font-weight: bold;
  }
  .p2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-family: 'Dancing Script';
    font-size: 12px;
  border-radius: 0px 0px 0px 0px ;
  background-color: #C6d5c5;
  width: 25%;}

  .p3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-family: 'Dancing Script';
    font-size: 12px;
  border-radius: 0px 0px 0px 0px ;
  background-color: #C6d5c5;
  width: 25%;}

.p3 p img{
  float:left;
}
  .p4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-family: 'Dancing Script';
    font-size: 12px;
  border-radius: 0px 0px 10px 0px ;
  background-color: #C6d5c5;
  width: 25%;}

@media all and (max-width: 900px) {
	.c0 {
		width: 100%;
		order: 1;
	}

	#cabecera {
		height: 85px;

	}

	.ul1 li {
	    line-height:40px;

	  }

		.ul1 {
		padding-right: 100px;

		}

	.c1 {
		width: 100%;
		order: 2;
	}
	.c2 {
		width: 100%;
		order: 3;
	}
	.c3 {
		width: 100%;
		order: 4;
	}
  .c4 {
		width: 100%;
		order: 5;
	}
  .c5 {
		width: 100%;
		order: 6;
	}
  .c6 {
		width: 100%;
		order: 7;
	}
  .p1 {
    width: 100%;
    border-radius: 0px 0px 0px 0px ;
    order: 8;
  }
  .p2 {
    width: 100%;
    order: 9;
  }
  .p3 {
    width: 100%;
    order: 10;
  }
  .p4 {
    width: 100%;
    order: 11;
    border-radius: 0px 0px 10px 10px ;
  }
}

nav{
  float:right;
}
nav ul{
  margin:0;
  padding:0;
  list-style: none;
  padding-right: 20px;

}

nav ul li {
    display: inline-block;
    line-height: 60px;

  }

nav ul li a {
      display: block;
      padding: 0 10px;
      text-decoration: none;
    }

nav ul li a:hover {

      }
